$reservasMap:(
    titulo: titulo,
    formulario: formulario,
    footer: footer
);

$infoPersonalMap:(
    nombres: nombres,
    apellidos: apellidos,
    estadoCivil: estadoCivil,
    celular: celular,
    correo: correo
);

$infoReservaMap:(
    numerosPersonas: numerosPersonas,
    fecha: fecha,
    llegada: llegada,
    contactarCli: contactarCli
);